<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAVA DURUMU</title>
    <link rel="stylesheet" href="static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <header><i class="bx bx-left-arrow-alt"></i> Hava Durumu</header>
        <form  method="POST">
          <section class="input-part">
              <p class="info-txt"></p>
              <input type="text" name="sehir" placeholder="şehir" spellcheck="false" required>
              <div class="seperator"></div>
              <button type="submit">Konumu Belirle</button>
          </section>
      </form>
</body>
</html>